<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TabletopArenaConnection" 
         connectionString="server=127.0.0.1;User Id=root;password=a9DB@MDZNtm8!jXH;database=table_top_games_arena"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>